version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: ExpenseTracker.API/Dockerfile
    container_name: expense-tracker-api
    ports:
      - "5000:8080"
    depends_on:
      - postgres
    environment:
      - ASPNETCORE_ENVIRONMENT=Development        
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=db;Username=admin;Password=admin;      
      - Serilog__WriteTo__0__Name=Console
  postgres:
    image: postgres:16-alpine
    container_name: expense-tracker-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: expense-tracker-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data: